<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../../../public/css/chat.css" />
    <link rel="stylesheet" href="../../../public/css/styles.css" />
    <link rel="stylesheet" href="../../../public/css/carts.css" />
    <link rel="stylesheet" href="../../../public/css/login.css" />
    <link rel="stylesheet" href="../../../public/css/products.css" />
    <link rel="stylesheet" href="../../../public/css/profile.css" />
    <link rel="stylesheet" href="../../../public/css/signup.css" />


    <title>{{title}}</title>
</head>

<body>

    {{{body}}}

</body>

</html>